<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Payment Failed</title>
  <style>
    body {
      font-family: Arial, sans-serif;
      background-color: #f4f4f4;
      margin: 0;
      padding: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
    }

    .container {
      text-align: center;
    }

    .failure-icon {
      font-size: 64px;
      color: #dc3545;
    }

    .message {
      margin-top: 16px;
      font-size: 24px;
      color: #333;
    }
  </style>
</head>
<body>
<div class="container">
  <div class="failure-icon">&#10007;</div>
  <div class="message">Payment Failed!</div>
  <div><a style="font-size: 20px" href="http://localhost:3000/">Quay lại</a></div>

</div>
</body>
</html>
